.main-div{
    width: 100%;
    min-height: 100vh;
}

.grid{
    box-shadow: none !important;
}

.dashboard-title{
    width: fit-content;
    font-family: 'Arial Nova';
    font-size: 18px !important;
    letter-spacing: 1px;
    font-weight: 500;
    color: black;
}



